{port_specs, [
    {"priv/khash.so", ["c_src/*.c"]}
]}.

{port_env, [
    % Development compilation
    % {".*", "CFLAGS", "$CFLAGS -g -Wall -Werror -fPIC"}

    % Production compilation
    {"(linux|solaris|darwin|freebsd)", "CFLAGS", "$CFLAGS -Wall -Werror -DNDEBUG -O3"},
    {"win32", "CFLAGS", "$CFLAGS /O2 /DNDEBUG /Wall"}
]}.

{erl_opts, [
   {platform_define, "^R16", 'NORANDMODULE'},
   {platform_define, "^17", 'NORANDMODULE'}
]}.

{eunit_compile_opts, [
   {platform_define, "^R16", 'NORANDMODULE'},
   {platform_define, "^17", 'NORANDMODULE'}
]}.
